//- content structure
#content 
    include ../contractsectionmodule/contractsection.pug
    include ../balancesectionmodule/balancesection.pug
    include ../authorizedwalletssectionmodule/authorizedwalletssection.pug