//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #contractpage-content        
        h1 New Address
        input#new-address-input(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
        
        button#deploy-new-button.click-button Deploy New

