// contractpage styles
picture-size = 90px

copy-icon-size = 15px

#contractpage-content
    input
        margin-top: 0
    h2
        margin-top: 5px
        color cd-dark
    h1 
        color cd-dark

#address-display
    width 100%
    background-color cd-dark
    display flex
    padding 7px
    box-sizing: border-box

    .display-frame-content
        text-overflow: ellipsis
        overflow hidden
        width "calc(100% - %s)" % copy-icon-size
    .copy-icon
        width copy-icon-size
        height copy-icon-size

#deploy-new-button
    border solid 2px cd-flash
    padding 10px
    margin-top 30px
    color cd-flash