// deploycontractpage styles
copy-icon-size = 15px

#deploycontractpage-content
    input
        margin-top: 0
        margin-bottom: 2px
    h2
        margin-top: 5px
        color cd-dark
    h1 
        color cd-dark
        
#deploy-button
    border solid 2px cd-flash
    padding 10px
    margin-top 30px
    color cd-flash