//- authorizedwalletssection structure
#authorizedwalletssection
    h1 Owners
    input#owner0-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner1-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner2-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner3-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner4-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner5-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner6-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner7-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner8-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner9-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner10-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner11-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
