//- authorizedwalletssection structure
#authorizedwalletssection
    h1 Owners
    input#owner0-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner1-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    input#owner2-address(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")
    