// authorizedwalletssection styles
#authorizedwalletssection
    margin auto
    margin-top 20px
    padding 20px
    max-width: 900px
    box-sizing: border-box
    border solid 2px cd-flash
    border-radius: 5px
    background-color alpha(cd-flash, 0.07)
    h1
        margin 0 0 10px 0
        padding 0

    button
        border solid 2px cd-flash
        padding 10px
        margin 0 12px
        color cd-flash
        width 100px
    input 
        display: none
        margin-top: 0
        margin-bottom: 2px
        background-color: alpha(red, 0.2)

    .shown
        display: block
    
    .authorized
        background-color: alpha(green, 0.2)
// copy-icon-size = 15px

// #deploycontractpage-content
//     input
//     h2
//         margin-top: 5px
//         color cd-dark
//     h1 
//         color cd-dark
        
// #deploy-button
//     border solid 2px cd-flash
//     padding 10px
//     margin-top 30px
//     color cd-flash