//- contractsection structure
#contractsection
    h1#contract-type MultiSig2of3

    #address-display.text-display-frame.click-button
        .display-frame-content
        svg.copy-icon: use(href="#svg-copy-icon")

    #status-message-display() ! warning for this contract a wallet is missing 
    button#change-contract-button.click-button Change
    

