// contractsection styles
#contractsection
    margin auto
    margin-top 20px
    padding 20px
    max-width: 900px
    box-sizing: border-box
    border solid 2px cd-flash
    border-radius: 5px
    background-color: alpha(cd-flash, 0.07)
    h1
        margin 0 0 10px 0
        padding 0

    button
        border solid 2px cd-flash
        padding 10px
        margin 0 12px
        color cd-flash
        width 100px

#address-display
    background-color: cd-flash
    color cd-dark

#status-message-display
    margin-top 7px
    color red

#contract-button-row
    margin-top 12px
    display flex
    justify-content: center