// globalstyles styles

// pool graphics theme
// cd-dark = #488433
// cd-bright = #01BCCF
// cd-flash = #FF7D04
// // swapped flash - bright
// // cd-flash = #01BCCF
// // cd-bright = #FF7D04
// element-background = rgba(0, 0, 0, 0.25)

// bancor theme
// cd-dark = #1C344E // lighter dark
// // cd-dark = #0A2540 // really dark
// cd-flash = #0F59D1
// cd-bright = #ECECEC
// element-background = rgba(0, 0, 0, 0.33)

// SEB EasyHabits App
// cd-dark = black
// cd-bright = white
// cd-flash = #61DE2A
// element-background = rgba(255, 255, 255, 0.10)

// serious theme inverted
cd-dark = white // lighter dark
// cd-dark = #0A2540 // really dark
cd-flash = purple
cd-bright = black
element-background = rgba(0, 0, 0, 0.10)

// serious theme
// cd-bright = white
// cd-flash = purple
// cd-dark = black
// element-background = rgba(255, 255, 255, 0.10)

/*==========================================================
Global Variables
==========================================================*/
header-height = 90px // not used currently... is 60px
max-content-width = 900px
mobile-side-padding = 15px



/*==========================================================
General Tag Styles
==========================================================*/
body
    background-color cd-dark
    color cd-bright
    font-family: Arial, Helvetica, sans-serif
    text-align: center
    font-size: 12pt
    height 100vh
    width 100%
    overflow hidden

h1
    font-size: 17pt
    padding-top: 20pt
    padding-bottom: 7pt
    padding-left: 20pt
    padding-right: 20pt
    user-select none
h2
    font-size: 15pt
    padding-top: 15pt
    padding-bottom: 7pt
    padding-left: 20pt
    padding-right: 20pt
    user-select none

p
    font-size: 12pt
    padding-top: 10pt
    padding-bottom: 7pt
    padding-left: 20pt
    padding-right: 20pt
    user-select none


input
    text-overflow: ellipsis;
    padding: 7px
    box-sizing: border-box
    font-size: 12pt
    color cd-bright
    background-color cd-dark
    border none
    width 100%
    text-align: center
    margin-top 7px

input:focus
    padding: 7px
    background-color cd-dark


/*==========================================================
General Tag Styles
==========================================================*/
.content
    margin auto
    width 100%
    padding-left: mobile-side-padding
    padding-right: mobile-side-padding
    box-sizing: border-box

paddingless-content-width = (max-content-width + (2 * mobile-side-padding))
@media screen and (min-width: paddingless-content-width)
    .content
        width max-content-width
        padding-left: 0
        padding-right: 0