//- settingspage structure
extends ../slideinframemodule/slideinframe.pug
block content
    #changecontractpage-content        
        h1 New Address
        input#new-address-input(type="text" value="0xdeadbeefdeadbeefdeadbeefdeadbeefdeadbeef")